<footer>
    
    <div class="f-info">
           <div class="fsocial">
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-linkedin"></i>

           </div>
           <div class="fbrand"> &copy; Wanderlust Private Limited</div>
           <div class="flink">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
           </div>
    </div>

</footer>